*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #333533;
}
header{
    background-color: #ffd100;
    color: #333533;
    text-align: center;
    padding: 20px 10px;
    width: 99%;
}
.uczy{
    width: 50%;
}
.główna{
    width: 50%;
    display: flex;
    justify-content: end;
}
.main-container{
      color: #D6D6D6;
      display: flex;
      margin-top: 25px;
      margin-left: 100px;
      width: 80%;
      justify-content: space-around;
      
}
img{
    border-radius: 50%;
    border: 1px solid;
    border-color: #ffd100;
    display: flex;
    
}
.box1{
    padding: 15px;
    border-radius: 25px;
    background-color: #202020;
    height: 400px;
    width: 250px;

}
.box1:hover{
    outline-width: 2px;
    outline-color: #ffd100;
    outline-style: solid;
}
.box2{
    padding: 15px;
    border-radius: 25px;
    background-color: #202020;
    height: 400px;
    width: 250px;
   
}
.box2:hover{
    outline-width: 2px;
    outline-color: #ffd100;
    outline-style: solid;
}
.box3{
    padding: 15px;
    border-radius: 25px;
    background-color: #202020;
    height: 400px;
    width: 250px;
   
}
.box3:hover{
    outline-width: 2px;
    outline-color: #ffd100;
    outline-style: solid;
}
.box4{
    padding: 15px;
    border-radius: 25px;
    background-color: #202020;
    height: 400px;
    width: 250px;
  
}
.box4:hover{
    outline-width: 2px;
    outline-color: #ffd100;
    outline-style: solid;
}
.box5{
    padding: 15px;
    border-radius: 25px;
    background-color: #202020;
    height: 400px;
    width: 250px;
  
}
.box5:hover{
    outline-width: 2px;
    outline-color: #ffd100;
    outline-style: solid;
}
.container{
    margin-top: 55px;
    margin-left: 150px;
}
h3{
    height: 50px;
}
.info{
    border-radius: 25px;
    background-color: #202020;
    color: #D6D6D6  ;
    width: 80%;
    height: auto;
}
.zobacz{
    background-color: #ffd100;
    color: #202020;
    border: 1px solid;
    border-radius: 25px;
    border-color: #ffd100;
    text-align: center;
    width: 55px;
}
.zobacz:hover{
    transition-duration: 500ms;
    background-color: #202020;
    color: #ffd100;
    border: 1px solid;
    border-radius: 25px;
    border-color: #ffd100;
    text-decoration: none;
}
.stopka{
    background-color: #ffd100;
    color: #333533;
    font-size: 15px;
    text-align: center;
    height: 55px;    
}
.glu{
    text-decoration: none;
    color: #202020;
}
.glu:hover{
    transition-duration: 500ms;
    color: #ffd100;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.box11{
    border-radius: 25px;
    color: #D6D6D6;
    width: 70%;
    background-color: #202020;
    float: left;
}
